<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (consumer()) {
      <div>
        <h2 data-cy="consumerDetailsHeading"><span jhiTranslate="smartIoTApp.consumer.detail.title">Consumer</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ consumer()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.consumer.name">Name</span></dt>
          <dd>
            <span>{{ consumer()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.consumer.street">Street</span></dt>
          <dd>
            <span>{{ consumer()!.street }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.consumer.neighborhood">Neighborhood</span></dt>
          <dd>
            <span>{{ consumer()!.neighborhood }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.consumer.propertyNumber">Property Number</span></dt>
          <dd>
            <span>{{ consumer()!.propertyNumber }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.consumer.phone">Phone</span></dt>
          <dd>
            <span>{{ consumer()!.phone }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.consumer.email">Email</span></dt>
          <dd>
            <span>{{ consumer()!.email }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/consumer', consumer()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
