<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (sysUser()) {
      <div>
        <h2 data-cy="sysUserDetailsHeading"><span jhiTranslate="smartIoTApp.sysUser.detail.title">Sys User</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ sysUser()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.sysUser.username">Username</span></dt>
          <dd>
            <span>{{ sysUser()!.username }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.sysUser.email">Email</span></dt>
          <dd>
            <span>{{ sysUser()!.email }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.sysUser.role">Role</span></dt>
          <dd>
            <span>{{ sysUser()!.role }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/sys-user', sysUser()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
