<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <p jhiTranslate="footer.company">© 2024 Sistema de Observabilidade de Sensores IoT</p>
      </div>
      <div class="col">
        <a href="/terms" jhiTranslate="footer.terms">Termos de Serviço</a>
      </div>
      <div class="col">
        <a href="/privacy" jhiTranslate="footer.privacy">Política de Privacidade</a>
      </div>
      <div class="col">
        <a href="/support" jhiTranslate="footer.support">Suporte</a>
      </div>
      <div class="col">
        <a href="/docs" jhiTranslate="footer.documentation">Documentação</a>
      </div>
    </div>
  </div>
</div>
