<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (resourceGroup()) {
      <div>
        <h2 data-cy="resourceGroupDetailsHeading"><span jhiTranslate="smartIoTApp.resourceGroup.detail.title">Resource Group</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ resourceGroup()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.resourceGroup.name">Name</span></dt>
          <dd>
            <span>{{ resourceGroup()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.resourceGroup.description">Description</span></dt>
          <dd>
            <span>{{ resourceGroup()!.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/resource-group', resourceGroup()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
