<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-aggregated-data-heading"
        data-cy="AggregatedDataCreateUpdateHeading"
        jhiTranslate="smartIoTApp.aggregatedData.home.createOrEditLabel"
      >
        Create or edit a Aggregated Data
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="smartIoTApp.aggregatedData.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_dataType" jhiTranslate="smartIoTApp.aggregatedData.dataType">Data Type</label>
          <input type="text" class="form-control" name="dataType" id="field_dataType" data-cy="dataType" formControlName="dataType" />
          @if (editForm.get('dataType')!.invalid && (editForm.get('dataType')!.dirty || editForm.get('dataType')!.touched)) {
            <div>
              @if (editForm.get('dataType')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_value" jhiTranslate="smartIoTApp.aggregatedData.value">Value</label>
          <input type="text" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
          @if (editForm.get('value')!.invalid && (editForm.get('value')!.dirty || editForm.get('value')!.touched)) {
            <div>
              @if (editForm.get('value')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_aggregationTime" jhiTranslate="smartIoTApp.aggregatedData.aggregationTime"
            >Aggregation Time</label
          >
          <div class="d-flex">
            <input
              id="field_aggregationTime"
              data-cy="aggregationTime"
              type="datetime-local"
              class="form-control"
              name="aggregationTime"
              formControlName="aggregationTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (
            editForm.get('aggregationTime')!.invalid && (editForm.get('aggregationTime')!.dirty || editForm.get('aggregationTime')!.touched)
          ) {
            <div>
              @if (editForm.get('aggregationTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('aggregationTime')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
