.navbar {
  background-color: #004185; // Assuming a deep blue from the brand style
  .nav-link {
    color: #ffffff;
    &:hover {
      color: #cccccc;
    }
  }
  .logo-img {
    background-image: url('/content/images/logo-jhipster.png');
    width: 30px;
    height: 30px;
  }
}
