<div class="row">
  <div class="col-md-3">
    <span class="hipster sensor-icon img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Bem-vindo ao Sistema de Observabilidade de Sensores IoT!</span></h1>

    <p class="lead" jhiTranslate="home.subtitle">Este é o seu painel de controle</p>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account()) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: account()!.login }"
              >Você está logado como usuário "{{ account()!.login }}".</span
            >
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.authenticated.prefix">Se deseja </span>
          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">entrar</a
          ><span jhiTranslate="global.messages.info.authenticated.suffix"
            >, você pode usar as contas padrão:<br />- Administrador (login="admin" e senha="admin")<br />- Usuário (login="user" e
            senha="user").</span
          >
        </div>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">Ainda não possui uma conta?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Registre uma nova conta</a>
        </div>
      }
    </div>

    <p jhiTranslate="home.question">Se você tem alguma dúvida sobre o Sistema de Observabilidade de Sensores IoT:</p>

    <ul>
      <li>
        <a href="https://www.seusite.com/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage"
          >Página inicial do Sistema de Observabilidade de Sensores IoT</a
        >
      </li>
      <li>
        <a
          href="https://stackoverflow.com/tags/seusistema/info"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.stackoverflow"
          >Nosso sistema no Stack Overflow</a
        >
      </li>
      <li>
        <a
          href="https://github.com/seuprojeto/seuprojeto/issues?state=open"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.bugtracker"
          >Rastreador de bugs do nosso sistema</a
        >
      </li>
      <li>
        <a href="https://gitter.im/seuprojeto/seuprojeto" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat"
          >Sala de bate-papo pública do nosso sistema</a
        >
      </li>
      <li>
        <a href="https://twitter.com/seuprojeto" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow"
          >Siga &aseuprojeto no Twitter</a
        >
      </li>
    </ul>

    <p>
      <span jhiTranslate="home.like"
        >Se você gostar do Sistema de Observabilidade de Sensores IoT, não esqueça de nos dar uma estrela no</span
      >
      <a href="https://github.com/seuprojeto/seuprojeto" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github">GitHub</a>!
    </p>
  </div>
</div>
