<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (dadoSensor()) {
      <div>
        <h2 data-cy="dadoSensorDetailsHeading"><span jhiTranslate="smartIoTApp.dadoSensor.detail.title">Dado Sensor</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ dadoSensor()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.dadoSensor.dados">Dados</span></dt>
          <dd>
            <span>{{ dadoSensor()!.dados }}</span>
          </dd>
          <dt><span jhiTranslate="smartIoTApp.dadoSensor.timestamp">Timestamp</span></dt>
          <dd>
            <span>{{ dadoSensor()!.timestamp | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/dado-sensor', dadoSensor()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
