<div>
  <h2 id="page-heading" data-cy="ConsumerHeading">
    <span jhiTranslate="smartIoTApp.consumer.home.title">Consumers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smartIoTApp.consumer.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-consumer"
        [routerLink]="['/consumer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smartIoTApp.consumer.home.createLabel">Create a new Consumer</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (consumers?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="smartIoTApp.consumer.home.notFound">No Consumers found</span>
    </div>
  }

  @if (consumers && consumers.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="smartIoTApp.consumer.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="street">
              <div class="d-flex">
                <span jhiTranslate="smartIoTApp.consumer.street">Street</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="neighborhood">
              <div class="d-flex">
                <span jhiTranslate="smartIoTApp.consumer.neighborhood">Neighborhood</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="propertyNumber">
              <div class="d-flex">
                <span jhiTranslate="smartIoTApp.consumer.propertyNumber">Property Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phone">
              <div class="d-flex">
                <span jhiTranslate="smartIoTApp.consumer.phone">Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="smartIoTApp.consumer.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (consumer of consumers; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/consumer', consumer.id, 'view']">{{ consumer.id }}</a>
              </td>
              <td>{{ consumer.name }}</td>
              <td>{{ consumer.street }}</td>
              <td>{{ consumer.neighborhood }}</td>
              <td>{{ consumer.propertyNumber }}</td>
              <td>{{ consumer.phone }}</td>
              <td>{{ consumer.email }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/consumer', consumer.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/consumer', consumer.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(consumer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (consumers && consumers.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
